{% extends "base.html" %}
{% block content %}
<h2>Upload Learner Data</h2>
<p>Upload CSV or Excel file.</p>
<p><b>Required columns:</b> name, attendance, daily_available_hours</p>
<p><b>Subject format:</b> python_internal, python_external, python_assignment</p>

{% if error %}
    <div class="error">{{ error }}</div>
{% endif %}

<form action="{{ url_for('upload.upload_data') }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Upload</button>
</form>
{% endblock %}
